<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>processing</string>
		<string>remote-notification</string>
		<string>healthkit</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.infinitiesinn.vybe.backgroundUpdate</string>
		<string>com.infinitiesinn.vybe.backgroundProcessing</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Vybe needs your location to calculate your accurate focus number.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Vybe needs your location to keep your focus number updated.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Vybe needs your location to keep your focus number updated, even when the app is in the background.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>VybeMVP needs access to your heart rate data to provide real-time monitoring and insights for your focus and well-being.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>VybeMVP needs access to update your health data to ensure accurate heart rate tracking and analysis.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Vybe needs access to your microphone to record sacred voice reflections in your spiritual journal. Your recordings are private and stored only on your device.</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>com.apple.developer.healthkit</key>
	<true/>
	<key>com.apple.developer.healthkit.background-delivery</key>
	<true/>
	<key>CFBundleIdentifier</key>
	<string>com.infinitiesinn.vybe.VybeMVP</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.lifestyle</string>
	<key>CFBundleName</key>
	<string>VybeMVP</string>
	<key>CFBundleDisplayName</key>
	<string>Vybe</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleGetInfoString</key>
	<string>Focus Number Calculator</string>
	<key>NSCameraUsageDescription</key>
	<string>VybeMVP uses your camera to capture photos of number sightings for your synchronicity journal.</string>
	<key>VYBE_API_KEY</key>
	<string>ba552afd67c8d8a4ef826595cc20e196c106a23b995e283c7d827d2d8444cae8
  c7d827d2d8444cae8</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>VybeMVP needs access to your photo library to save and select photos for your number sightings.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
</dict>
</plist>
